/* el punto señala que "head-container" es una clase, todo lo que sea de clase "head-container" tendra estos atributos */
/*---------------------Atributos para etiquetas------------------------------------------*/
body, html {
  margin: 0;
  padding: 0;
}

header
{
  color: #F2F2F2;
  background-color: #1E2532;
}
h1{

  color: #F2F2F2;
  -webkit-text-stroke: 0.5px black; /*bordes al texto*/
  font-family: Impact;
  font-style: italic;
  font-size: 40px;
  text-align: center;
}
h2{
  color: #000000;
  font-family: Cambria;
  font-size: 24;
  text-align: center;
}
p{
  color:#000000;
  font-family: 'Cambria';
  font-size: 18px;
  text-align: center;
}

li 
{
  list-style: none;
  color:#000000;
  font-family: 'Cambria';
  font-size: 18px;
  line-height: 1.5;
}

footer
{
 background-color: #1E2532;
}
.div-con-fondo{
  background-color: #393F56;
  padding: 5px;
}
/*--------------------------------------------------------------------------------------------*/
.head-container   /*este es el sub encabezado, aca esta el menu*/
{
  font-size: 20px;
  height: 100px;
  display: block;
  text-align: center;
  background-color: #1E2532;
  padding: 20px;
}
  .head-container ul{
    
    display: block;
    text-align: center;
    height: 100px;
    list-style: none;  
  }
      .head-container ul li {
  
          margin-top: 120px;
          display: inline; 
          margin-right: 100px;

         }
        .head-container ul li a{ 
          color: #45536Eff;
          background-color: #fff;
          border: 0;
          cursor: pointer;
          padding: .3rem 2rem;
          display: inline-block;
          vertical-align: top;
          text-align: center;
          line-height: 3rem;
          width: auto;
          border-radius: 2rem;
          /*--------------------------*/
            text-decoration: none;
            font-family: amarillo;
                                }

.footer-container    /*este es el footer*/
{
  font-size: 16px;
  display: block;
  text-align: center;
  padding: 15px;
  background-color: #1E2532;
}
    .footer-container a
      {
        color: #F2F2F2;
        font-family: 'Cambria';
        text-decoration: none;
        margin-right: 50px;
       }
    .footer-container p{
      color: #F2F2F2;
        text-align: left;
      }
.imagen-fondo{
     width:max-content;
     height:max-content;
}
/*subtitulo del formulario*/
.span1 h2 
{ padding: 10px;
  margin: 0;
  background-color: #45536E;
  color: #fff;
  font-family: 'Cambria';
  text-align: left;
  font-weight: bold;
  text-decoration: underline;
}

.div-divinput{
  display: flex;
  padding: 5px;
  background-color: #45536E;
}
.div-imagen
{
  margin-left: 500px;
}
.div-formulario p
{
  font-size: 20px;
  color: #FF914D;
  font-family: 'Cambria';
  text-align: left;
  font-weight: bold;
}
.div-imagen img{
  width: 700px;
  height: 400px;

}
.boton-enviar{
  border-radius: 10px;
  display:flex;
}
.div-formulario label
{
  font-size: 15px;
  color: #FF914D;
  font-family: 'Cambria';
  display:inline-block;
  text-align: center;
  font-weight: bold;
}
.div-nosotros
{ font-family: Cambria;

  display: inline-block;
  background-color: #393F56;
  padding: 10px;
}
.div-nosotros h2
{
  color: #FF914D;
  font-size: 25px;
  text-decoration: underline;
}
.div-nosotros p{
  color: #fff;
  font-size: 20px;
}
/*Divs de producto*/
.div-con-fondo h2{
  color: #fff;
}

.div-producto-a
{ background-color: #FF914D;
  padding: 10px;
}
    .div-producto-a h2{
      color: #393F56;
    }
    .div-producto-a p{
      font-weight:bold;
    }
.div-producto-b
{ background-color: #393F56;
  padding: 10px;
} 
    .div-producto-b h2{
      color: #FF914D;
    }
    .div-producto-b p{
      color: #FFF;
      font-weight: bold;
    }
