:root {
    --primary-color: #1E1D19;
    --secondary-color: #84050C;
    --terciary-color: #292929;
    --subtitulo-color: white;
}
/*Bodys*/
body
{ margin: 0;
  background-color: var(--primary-color);
}
.politicas-body{
    margin: 0;
    background-color: var(--primary-color);
}
/*Cabecera del index*/
.index-header
{ 
  box-sizing: border-box;
    max-width: 1600px;
    max-height: 800px;
    height: 800px;
    width: 100%;
  display: inline-flexbox;
  background-image: url(../image/fondo-index.jpg);
    background-repeat: no-repeat;

}

/*Este es el navegador*/
.nav {
    margin-left: 100px;
    box-sizing: border-box;
    margin-bottom: 130px;  /*separacion del nav y el parrafo*/
    display: flex;
    align-items: center;
    color: white;
    height: 100px; 
}

.logo img {
    max-height: 100%;
}

.logo {
    margin-left: 20px;
    align-items: center;
    height: 100%;
}

.enlaces{
    display: flex;
    margin: 0;
    padding: 0;
    width: 1150px;
    height: 50px;

}
.enlaces li {
    margin-left: 20px;
    padding: 15px;
    list-style: none;
    text-decoration: none;
    text-indent: 30px;
    color: #fff;

}
.enlaces a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

/*este contenedor centra el boton*/
.contenedor div 
{  margin-left: 150px;

    box-sizing: border-box;
 height: 50px;
 width: 350px;
 margin-top: 40px;
}
/*este es el boton*/
.contenedor div a
{  
    border-radius: 7px;
    background-color: var(--secondary-color);
    padding:20px;
    padding-left: 100px;
    padding-right:100px ;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
/*Contenedor del titulo,subtitulo*/
.contenedor{
    
    display: table-row;
}

.contenedor h1{
    margin-left: 150px;
    font-size: 70px;
    text-align: left;
    color: var(--subtitulo-color);
    font-family: Gill SansCalibri;
}
.contenedor h2{
    margin-left: 150px;
    width: 50%;
    font-size: 20px;
    text-align: left;
    color: var(--subtitulo-color);
    font-family: Gill SansCalibri;
}

/*Ahora pasaremos a lo que es Catálogo lo hago por acá para reutilizar las clases ya hechas anteriormente*/


.contenedor2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Fijo las dimensiones que seria para escritorio*/
.catalogo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    margin-top: 20px;
    
     /* Centra el contenedor en la página y establece los márgenes a 0 */
    place-content: center;

    
}

.producto{
    width: 300px;
    height: 400px;
    background-color: white;
    margin: 0; /* Asegúrate de que los elementos del producto no tienen márgenes */
}
@media (max-width: 900px) {
    .catalogo {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .producto{
        width: 150px;
        height: 250px;
        
    }
}
/*este es el footer*/
footer
{
 background-color: var(--terciary-color);
}
footer ul
{  padding: 10px;
    margin: 0;
    list-style: none;
    display: flex;
    text-align: center;

}
footer li
{  color: #fff;
   text-indent: 30px;
   margin: auto;

}
footer a
{
    text-decoration: none;
    color: #fff;
}
.footer-container{  
  padding: 10px;
  height: 70%; 
  font-size: 16px;
  display: block;
  text-align: center;
  background-color: var(--primary-color);
}

.footer-container a{
        color: #F2F2F2;
        font-family: 'Cambria';
        text-decoration: none;
        margin-right: 50px;
}

.footer-container p{
      color: #F2F2F2;
        text-align: left;
}

.imagen-fondo{
     width:max-content;
     height:max-content;
}

/*Titulo de la pestaña politicas de privacidad*/
.titulo{
    color: var(--secondary-color);
    padding: 20px;
}
/*sus subtitulos*/
.politicas-div h2{
    color: var(--secondary-color);
    font-size: 26px;
    margin: 5px;
}
/*Es del parrafo grande*/
.parrafo-grande{
    color: #fff;
    text-shadow: 1px 1px 0px rgb(88, 88, 88);
    font-size: 40px;
    padding: 40px;
    
}
/*Este es del div para colocar el parrafo al costado*/
.letra-costado{
    display: flex;
    justify-content: center;
}
/*Este es de la imagen de seguridad*/
.imagen-securiti{
    width: 300px;
    height: 300px;
    margin-left: 10px;
}
/*Este son de los parrafos del divv*/
.politicas-div p {
    font-size: 25px;
}
/*header-nosotros*/
.header-nosotros
{
    color: #fff; 
    font-weight: bold;
  
}
.header-nosotros h2{
    margin: 20px;
    text-decoration: underline;
}
/*div-nosotros*/
.div-nosotros
{   padding: 20px;
    color: #fff;
    display: flex;
}
.div-nosotros div
{  
    max-width: 620px;
    max-height: 512px;
}

.div-nosotros img
{   padding: 20px;
    max-width: 512px;
    max-height: 512px;
    margin-right: 120px;
    margin-left: 100px;
}
.div-nosotros p
{   
    margin-left: 120px;
    font-size: 20px;
    flex: 30%;
    margin-bottom:50px ;
}
.div-nosotros h2
{   margin-top: 15%;
    font-weight: bold;
    text-align: center;
}

/*div-nosotros*/

